.shareList {
	list-style:none;
	display: flex;
	flex-wrap:wrap;
	width:100%;
	margin:-5px 0 -3px -5px;
	padding:0;
}
.shareList__item {
	height:30px;
	line-height:30px;
	margin:5px 0 3px 5px;
	text-align:center;
}
.shareList__link {
	display:block;
	color:#ffffff;
	padding:0 10px;
	text-decoration: none;
	border-radius: 5px;
}
.shareList__link::before{
	font-size:14px;
	transition: ease-in-out .2s;
	border-radius: 5px;
}
.shareList__link::after{
	content:attr(title);
	font-size:12px;
	vertical-align: top;
	margin-left:5px;
}
.shareList__link:hover{opacity: 0.75;}
 
.shareList__link.icon-twitter{background:#55acee; border-bottom: solid 3px rgba(0,0,0,0.25);}
 
.shareList__link.icon-facebook{background:#3B5998; border-bottom: solid 3px rgba(0,0,0,0.25);}
 
.shareList__link.icon-google-plus{background:#dd4b39; border-bottom: solid 3px rgba(0,0,0,0.25);}
 
.shareList__link.icon-hatebu{background:#008FDE; border-bottom: solid 3px rgba(0,0,0,0.25);}
 
.shareList__link.icon-pocket{background:#EB4654; border-bottom: solid 3px rgba(0,0,0,0.25);}
 
.shareList__link.icon-rss{background:#ff9900; border-bottom: solid 3px rgba(0,0,0,0.25);}
 
.shareList__link.icon-feedly{background:#6cc655; border-bottom: solid 3px rgba(0,0,0,0.25);}
 
.shareList__link.icon-pinterest{background:#cb2027; border-bottom: solid 3px rgba(0,0,0,0.25);}
 
.shareList__link.icon-linkedin{background:#0e76a8; border-bottom: solid 3px rgba(0,0,0,0.25);}
 
.shareList__link.icon-line{background:#1dcd00; border-bottom: solid 3px rgba(0,0,0,0.25);}
 
.shareList__link:active {
	-ms-transform: translateY(3px);
	-webkit-transform: translateY(3px);
	transform: translateY(3px);
	border-bottom: none;
}