{% extends "macuos/base.html" %}
{% load static %}
{% block nav_home %}active{% endblock %}
{% block content %}
<ul class="shareList">
  <li class="shareList__item"><a class="shareList__link icon-twitter" href="http://twitter.com/share?url=https://unisia-se.com" target="_blank" title="Twitter"></a></li>
  <li class="shareList__item"><a class="shareList__link icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://unisia-se.com" target="_blank" title="Facebook"></a></li>
  <li class="shareList__item"><a class="shareList__link icon-hatebu" href="http://b.hatena.ne.jp/add?mode=confirm&url=https://unisia-se.com" target="_blank" title="はてなブックマーク"></a></li>
  <li class="shareList__item"><a class="shareList__link icon-pocket" href="http://getpocket.com/edit?url=https://unisia-se.com" target="_blank" title="Pocket"></a></li>
  <li class="shareList__item"><a class="shareList__link icon-feedly" href="https://feedly.com/i/subscription/feed/https://unisia-se.com" target="_blank" title="Feedly"></a></li>
  <li class="shareList__item"><a class="shareList__link icon-line" href="http://line.me/R/msg/text/?https://unisia-se.com" target="_blank" title="LINE"></a></li>
</ul>
<br />
  {% for post in post_list %}
    <div class="row m-b-3">
      <!-- 2018/08/15 M000001 s-hama >>> -->
      <!--
      <div class="col-xs-12 col-sm-6 text-xs-center">	
        {% if post.thumbnail %}	
          <img class="img-thumbnail" src="{{ post.thumbnail.url }}">	
        {% else %}	
          <img class="img-thumbnail" src="{% static 'macuos/img/noimage.png' %}">	
        {% endif %}	
      </div>
      -->
      <!-- 2018/08/15 M00001 s-hama <<<  -->
      <!-- 2018/08/15 M00001 s-hama >>>
      <!--<div class="col-xs-12 col-sm-6"> -->
      <div class="col-xs-12 col-sm-12">
      <!-- 2018/08/15 M00001 s-hama <<< -->
        <h4>{{ post.title }}</h4>
        <span class="tag tag-info">{{ post.category.parent }}</span>
        <span class="tag tag-primary">{{ post.category }}</span>
        {% for tag in post.tag.all %}
          <span class="tag tag-success">{{ tag.name }}</span>
        {% endfor %}
        <p class="text-muted">{{ post.created_at }}</p>
        {% if user.is_authenticated %}
        <p>
	<a class="nav-link" href="{% url 'admin:macuos_post_change' post.pk %}">>> To Management</a>
        </p>
        {% endif %}
	<a class="btn btn-outline-primary btn-lg btn-block" href="{% url 'macuos:detail' post.pk %}">>> Read More</a>
      </div>
    </div>
  {% endfor %}
  <ul class="shareList">
    <li class="shareList__item"><a class="shareList__link icon-twitter" href="http://twitter.com/share?url=https://unisia-se.com" target="_blank" title="Twitter"></a></li>
    <li class="shareList__item"><a class="shareList__link icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://unisia-se.com" target="_blank" title="Facebook"></a></li>
    <li class="shareList__item"><a class="shareList__link icon-hatebu" href="http://b.hatena.ne.jp/add?mode=confirm&url=https://unisia-se.com" target="_blank" title="はてなブックマーク"></a></li>
    <li class="shareList__item"><a class="shareList__link icon-pocket" href="http://getpocket.com/edit?url=https://unisia-se.com" target="_blank" title="Pocket"></a></li>
    <li class="shareList__item"><a class="shareList__link icon-feedly" href="https://feedly.com/i/subscription/feed/https://unisia-se.com" target="_blank" title="Feedly"></a></li>
    <li class="shareList__item"><a class="shareList__link icon-line" href="http://line.me/R/msg/text/?https://unisia-se.com" target="_blank" title="LINE"></a></li>
  </ul>
  <div class="text-xs-center">
    {% include "macuos/page.html" %}
  </div>
{% endblock %}
