<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <h3 style="color:Navy;text-align:left;">Profile</h3>
      <br />
      サイト管理者：s-hama<br />
      自称 叩き上げの円転滑脱なエンジニア。<br />
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      Office : Fukuoka, Japan<br />
      Mail : s-hama@unisia-se.jp<br />
      Mobile : 080-3227-3792, +8180-3227-3792<br />
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      ※ 個人経歴 (フリーエンジニア)<br />
      <table border="" style="text-align:center" bordercolor="#d3d3d3">
        <thead>
          <tr bgcolor="#0275d8">
          <th style="text-align:center;font-weight: normal;" width="100px"><span style="color:#ffffff">開発期間</span></th>
          <th style="text-align:center;font-weight: normal;white-space: nowrap;" width="50px"><span style="color:#ffffff">業種</span></th>
          <th style="text-align:center;font-weight: normal;" width="350px"><span style="color:#ffffff">プロジェクト名/案件名</span></th>
          <th style="text-align:center;font-weight: normal;" width="75px"><span style="color:#ffffff">ポジション</span></th>
          <th style="text-align:center;font-weight: normal;" width="75px"><span style="color:#ffffff">主な<br />開発言語</span></th>
        </thead>
        <tbody>
          <tr>
            <td style="text-align:left; padding-left:5px;">2007.06<br />～2007.09</td>
            <td style="text-align:center; white-space: nowrap;">福祉</td>
            <td style="text-align:left; padding-left:5px;">勤怠管理WEBシステム</td>
            <td style="text-align:left; padding-left:5px;">PG, Tester</td>
            <td style="text-align:left; padding-left:5px;">C#.NET</td>
          </tr>
          <tr>
            <td style="text-align:left; padding-left:5px;">2007.10<br />～2008.12</td>
            <td style="text-align:center; white-space: nowrap;">医療</td>
            <td style="text-align:left; padding-left:5px;">創薬支援システム</td>
            <td style="text-align:left; padding-left:5px;">PG, Tester</td>
            <td style="text-align:left; padding-left:5px;">C#.NET</td>
          </tr>
          <tr>
            <td style="text-align:left; padding-left:5px;">2009.01<br />～2009.01</td>
            <td style="text-align:center; white-space: nowrap;">情通</td>
            <td style="text-align:left; padding-left:5px;">勤怠管理WEBシステム</td>
            <td style="text-align:left; padding-left:5px;">PG, Tester</td>
            <td style="text-align:left; padding-left:5px;">C#.NET</td>
          </tr>
          <tr>
            <td style="text-align:left; padding-left:5px;">2009.02<br />～2009.03</td>
            <td style="text-align:center; white-space: nowrap;">教育</td>
            <td style="text-align:left; padding-left:5px;">生徒管理システム</td>
            <td style="text-align:left; padding-left:5px;">PG, Tester</td>
            <td style="text-align:left; padding-left:5px;">VB6</td>
          </tr>
          <tr>
            <td style="text-align:left; padding-left:5px;">2009.04<br />～2009.06</td>
            <td style="text-align:center; white-space: nowrap;">出版</td>
            <td style="text-align:left; padding-left:5px;">勤怠管理WEBシステム</td>
            <td style="text-align:left; padding-left:5px;">PG, Tester</td>
            <td style="text-align:left; padding-left:5px;">C#.NET</td>
          </tr>
          <tr>
            <td style="text-align:left; padding-left:5px;">2009.07<br />～2009.11</td>
            <td style="text-align:center; white-space: nowrap;">公務</td>
            <td style="text-align:left; padding-left:5px;">生産管理システム</td>
            <td style="text-align:left; padding-left:5px;">PG, Tester</td>
            <td style="text-align:left; padding-left:5px;">Java</td>
          </tr>
          <tr>
            <td style="text-align:left; padding-left:5px;">2009.12<br />～2009.12</td>
            <td style="text-align:center; white-space: nowrap;">生産</td>
            <td style="text-align:left; padding-left:5px;">商品管理システム</td>
            <td style="text-align:left; padding-left:5px;">PG, Tester</td>
            <td style="text-align:left; padding-left:5px;">VB6</td>
          </tr>
          <tr>
            <td style="text-align:left; padding-left:5px;">2010.01<br />～2010.08</td>
            <td style="text-align:center; white-space: nowrap;">生産</td>
            <td style="text-align:left; padding-left:5px;">経理管理システム</td>
            <td style="text-align:left; padding-left:5px;">PG, Tester</td>
            <td style="text-align:left; padding-left:5px;">C#.NET</td>
          </tr>
          <tr>
            <td style="text-align:left; padding-left:5px;">2010.09<br />～2011.08</td>
            <td style="text-align:center; white-space: nowrap;">教育</td>
            <td style="text-align:left; padding-left:5px;">教師保護者連絡WEBシステム</td>
            <td style="text-align:left; padding-left:5px;">PL, SE, PG</td>
            <td style="text-align:left; padding-left:5px;">PHP</td>
          </tr>
          <tr>
            <td style="text-align:left; padding-left:5px;">2011.09<br />～2012.10</td>
            <td style="text-align:center; white-space: nowrap;">教育</td>
            <td style="text-align:left; padding-left:5px;">生徒統合ID管理WEBシステム</td>
            <td style="text-align:left; padding-left:5px;">PL, SE, PG</td>
            <td style="text-align:left; padding-left:5px;">Java, PHP</td>
          </tr>
          <tr>
            <td style="text-align:left; padding-left:5px;">2012.11<br />～2013.10</td>
            <td style="text-align:center; white-space: nowrap;">教育</td>
            <td style="text-align:left; padding-left:5px;">プリンター管理WEBシステム</td>
            <td style="text-align:left; padding-left:5px;">PL, SE, PG</td>
            <td style="text-align:left; padding-left:5px;">Java</td>
          </tr>
          <tr>
            <td style="text-align:left; padding-left:5px;">2013.11<br />～2015.02</td>
            <td style="text-align:center; white-space: nowrap;">教育</td>
            <td style="text-align:left; padding-left:5px;">授業補助WEBシステム</td>
            <td style="text-align:left; padding-left:5px;">PL, SE, PG</td>
            <td style="text-align:left; padding-left:5px;">Java</td>
          </tr>
          <tr>
            <td style="text-align:left; padding-left:5px;">2015.03<br />～2015.10</td>
            <td style="text-align:center; white-space: nowrap;">生産</td>
            <td style="text-align:left; padding-left:5px;">生産管理WEBシステム</td>
            <td style="text-align:left; padding-left:5px;">PG, Tester</td>
            <td style="text-align:left; padding-left:5px;">Java</td>
          </tr>
          <tr>
            <td style="text-align:left; padding-left:5px;">2015.11<br />～2016.06</td>
            <td style="text-align:center; white-space: nowrap;">教育</td>
            <td style="text-align:left; padding-left:5px;">教員サポートWEBシステム</td>
            <td style="text-align:left; padding-left:5px;">PM, SE, PG</td>
            <td style="text-align:left; padding-left:5px;">Java</td>
          </tr>
          <tr>
            <td style="text-align:left; padding-left:5px;">2016.07<br />～2016.09</td>
            <td style="text-align:center; white-space: nowrap;">生産</td>
            <td style="text-align:left; padding-left:5px;">生産管理WEBシステム</td>
            <td style="text-align:left; padding-left:5px;">PG, Tester</td>
            <td style="text-align:left; padding-left:5px;">Java</td>
          </tr>
          <tr>
            <td style="text-align:left; padding-left:5px;">2016.10<br />～2017.03</td>
            <td style="text-align:center; white-space: nowrap;">金融</td>
            <td style="text-align:left; padding-left:5px;">キャッシングWEBシステム</td>
            <td style="text-align:left; padding-left:5px;">SE, PG</td>
            <td style="text-align:left; padding-left:5px;">Java</td>
          </tr>
          <tr>
            <td style="text-align:left; padding-left:5px;">2017.04<br />～2019.03</td>
            <td style="text-align:center; white-space: nowrap;">保険</td>
            <td style="text-align:left; padding-left:5px;">経理管理WEBシステム</td>
            <td style="text-align:left; padding-left:5px;">SE, PG</td>
            <td style="text-align:left; padding-left:5px;">C#.NET</td>
          </tr>
          <tr>
            <td style="text-align:left; padding-left:5px;">2017.09<br />～継続中</td>
            <td style="text-align:center; white-space: nowrap;">情通</td>
            <td style="text-align:left; padding-left:5px;">技術ブログWEBシステム</td>
            <td style="text-align:left; padding-left:5px;">個人運用</td>
            <td style="text-align:left; padding-left:5px;">Python</td>
          </tr>
          <tr>
            <td style="text-align:left; padding-left:5px;">2019.04<br />～2020.04</td>
            <td style="text-align:center; white-space: nowrap;">情通</td>
            <td style="text-align:left; padding-left:5px;">端末申込WEBシステム</td>
            <td style="text-align:left; padding-left:5px;">SE, PG</td>
            <td style="text-align:left; padding-left:5px;">TypeScript(Angular), Java</td>
          </tr>
          <tr>
            <td style="text-align:left; padding-left:5px;">2020.05<br />～2020.09</td>
            <td style="text-align:center; white-space: nowrap;">公共</td>
            <td style="text-align:left; padding-left:5px;">料金計算データリカバリ</td>
            <td style="text-align:left; padding-left:5px;">Maintenance</td>
            <td style="text-align:left; padding-left:5px;">Java</td>
          </tr>
          <tr>
            <td style="text-align:left; padding-left:5px;">2020.10<br />～2020.11</td>
            <td style="text-align:center; white-space: nowrap;">教育</td>
            <td style="text-align:left; padding-left:5px;">成績管理WEBシステム</td>
            <td style="text-align:left; padding-left:5px;">PG</td>
            <td style="text-align:left; padding-left:5px;">TypeScript(React)</td>
          </tr>
          <tr>
            <td style="text-align:left; padding-left:5px;">2020.12<br />～2021.9</td>
            <td style="text-align:center; white-space: nowrap;">交通</td>
            <td style="text-align:left; padding-left:5px;">交通情報管理WEBシステム</td>
            <td style="text-align:left; padding-left:5px;">SL, SE, PG</td>
            <td style="text-align:left; padding-left:5px;">Java</td>
          </tr>
          <tr>
            <td style="text-align:left; padding-left:5px;">2021.10<br />～2022.08</td>
            <td style="text-align:center; white-space: nowrap;">機械</td>
            <td style="text-align:left; padding-left:5px;">空調管理WEBシステム</td>
            <td style="text-align:left; padding-left:5px;">SE, PG</td>
            <td style="text-align:left; padding-left:5px;">TypeScript(Angular)</td>
	  </tr>
          <tr>
	    <td style="text-align:left; padding-left:5px;">2022.09<br />～2022.10</td>
	    <td style="text-align:center; white-space: nowrap;">医療</td>
	    <td style="text-align:left; padding-left:5px;">診療予約管理WEBシステム</td>
	    <td style="text-align:left; padding-left:5px;">PG</td>
	    <td style="text-align:left; padding-left:5px;">TypeScript(Angular)</td>
	  </tr>
	  <tr>
	    <td style="text-align:left; padding-left:5px;">2022.11<br />～継続中</td>
	    <td style="text-align:center; white-space: nowrap;">情通</td>
	    <td style="text-align:left; padding-left:5px;">アクセス情報の分析/改善提案WEBシステム</td>
	    <td style="text-align:left; padding-left:5px;">PG</td>
	    <td style="text-align:left; padding-left:5px;">TypeScript(Angular)</td>
	  </tr>

        </tbody>
      </table>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      ※ 採用情報<br />
      <a style="" href="" class="engage-recruit-widget" data-height="300" data-width="" data-url="https://en-gage.net/unisia-se/widget/" target="_blank">
      </a>
      <script src="https://en-gage.net/common/company_script/recruit/widget.js">
      </script>
    </div>
  </div>
  <br />
</div>
